.button {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: rgb(195, 233, 255);
  border-color: rgb(211, 211, 211);
  border-style: solid;
}

#buttons,
#button {
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
}

#answer {
  opacity: 1;
  transition: 2s opacity;
  text-align: center;
  font-size: 32px;
}

:focus {
  outline: none;
}
